# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.venv/
.env
.env.*

# FastAPI / Alembic 
alembic/versions/__pycache__/

# ===== OS =====
.DS_Store
Thumbs.db
.vscode

# ===== Docker =====
*.log